@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Pretendard, Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #262626;
  background-color: #f4f4f5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.body {
  background-color: #f4f4f5;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: #000 !important;
}

@layer base {
  * {
    @apply border-border;
  }
}
@layer components {
  .border-border {
    border-color: var(--border);
  }
}
@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

.react-modal-sheet-container {
  /* custom styles */
  border-top-left-radius: 16px !important;
  border-top-right-radius: 16px !important;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 16px !important;
}
